
/* Stretch the html tag over the full space available */
html {
    width: 100%;
    height: 100%;
}

/* Display children of a "row" class in a flex row */
.row {
    display: flex;
    flex-direction: row;
}

/* Display children of a "column" class in a flex column */
.column {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Prevent shrinking of "row" and "column" children */
.row > *,
.column > *
{
    flex-grow: 0;
    flex-shrink: 0;
}

/* Make the "expanding" class take all space available */
.row > .expanding,
.column > .expanding
{
    flex-grow: 1;
}


/* For small screens */
@media screen and (max-width: 600px) {
    /* Align everything to the center */
    * { text-align: center; }
    /* rows become columns */
    .row { flex-direction: column; }
}

